backend/disease/model1.h5
__pycache__/
*.pyc
db.sqlite3
.env
venv/
*.jpg
*.png
backend/venv/
backend/pest/
backend/test_key.py
backend/test_req2.py
backend/text_req.log
backend/test_out.txt
backend/list_models.py
backend/find_working_model.py
backend/disease/test_indices.py
backend/check_pests.py
backend/check_img.py
backend/check_pest.py
backend/check_pest_dir.py
backend/check_pest_module.py
backend/test_paddy.py
backend/pest_detection/test_img.py
backend/pest_detection/check_pests.py
backend/pest_detection/test_paddy.py
backend/.venv/
.venv/
